<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 d-flex align-items-stretch mb-5">
        {% for annonce in annonces %}
            <div class="col">
                <div class="card h-100 shadow-sm">
                    <img src="{{ annonce.file }}" class="bd-placeholder-img card-img-top" width="100%" height="225">


                    <div class="card-body">
                        <h3>
                            {{ annonce.nom }}
                        </h3>
                        <p class="card-text">{{ annonce.description|u.truncate(200, '...', false) }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div>
                            <time datetime="2021-05-20">Ajoutée le {{ annonce.createdAt|date('d/m/y') }}</time>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>